In [1]:
import torch
import pickle
import textwrap
import numpy as np 
import pandas as pd 
from pprint import pprint
from transformers import pipeline

C:\Users\Legion\AppData\Roaming\Python\Python38\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

### Extractive vs Abstractive Summarization

        Extractive  - Summarization is done by extracting the most important sentences from the original text.
        Abstractive - Summarization is done by generating new sentences from the original text 
                      (the sentences may not present in the original text).

In [2]:
summarization = pipeline("summarization", device='cuda:0')
summarization

No model was supplied, defaulted to sshleifer/distilbart-cnn-12-6 and revision a4f8f3e (https://huggingface.co/sshleifer/distilbart-cnn-12-6).
Using a pipeline without specifying a model name and revision in production is not recommended.

In [3]:
df = pd.read_csv('data/bbc_text_cls.csv')
df

                                                   text    labels
0     Ad sales boost Time Warner profit\n\nQuarterly...  business
1     Dollar gains on Greenspan speech\n\nThe dollar...  business
2     Yukos unit buyer faces loan claim\n\nThe owner...  business
3     High fuel prices hit BA's profits\n\nBritish A...  business
4     Pernod takeover talk lifts Domecq\n\nShares in...  business
...                                                 ...       ...
2220  BT program to beat dialler scams\n\nBT is intr...      tech
2221  Spam e-mails tempt net shoppers\n\nComputer us...      tech
2222  Be careful how you code\n\nA new European dire...      tech
2223  US cyber security chief resigns\n\nThe man mak...      tech
2224  Losing yourself in online gaming\n\nOnline rol...      tech

[2225 rows x 2 columns]

In [4]:
df = df[df.labels == 'business']
df

                                                  text    labels
0    Ad sales boost Time Warner profit\n\nQuarterly...  business
1    Dollar gains on Greenspan speech\n\nThe dollar...  business
2    Yukos unit buyer faces loan claim\n\nThe owner...  business
3    High fuel prices hit BA's profits\n\nBritish A...  business
4    Pernod takeover talk lifts Domecq\n\nShares in...  business
..                                                 ...       ...
505  Trial begins of Spain's top banker\n\nThe tria...  business
506  UK economy ends year with spurt\n\nThe UK econ...  business
507  HealthSouth ex-boss goes on trial\n\nThe forme...  business
508  Euro firms miss out on optimism\n\nMore than 9...  business
509  Lacroix label bought by US firm\n\nLuxury good...  business

[510 rows x 2 columns]

In [5]:
def wrap(x):
    return textwrap.fill(
                        x, 
                        replace_whitespace=False, 
                        fix_sentence_endings=True
                        )

article = df.text.iloc[np.random.choice(len(df))]
print(wrap(article))

Firms pump billions into pensions

Employers have spent billions of
pounds propping up their final salary pensions over the past year,
research suggests.

A survey of 280 schemes by Incomes Data Services'
(IDS) said employer contributions had increased from £5.5bn to £8.2bn
a year, a rise of 49.7%. Companies facing the biggest deficits had
raised their pension contributions by 100% or more, IDS said.  Many
firms are struggling to keep this type of scheme open, because of
rising costs and increased liabilities.  A final salary scheme, also
known as a defined benefit scheme, promises to pay a pension related
to the salary the scheme member is earning when they retire.

The
rising cost of maintaining such schemes has led many employers to
replace final salary schemes with money purchase, or defined
contribution, schemes.  These are less risky for employers.  Under
money purchase schemes, employees pay into a pension fund which is
used to buy an annuity - a policy which pays out an income until death
- on retirement.

IDS said there were some schemes in good health.
But, in many cases, firms had been forced to top up funds to tackle
"yawning deficits". The level of contributions paid by employers has
increased gradually since the late 1990s.  In 1998/99, for example,
contributions rose by 4.7% and in 2002/03 by 8.6%. In contrast,
between 1996 and 1998, some employers cut their contribution levels.
Helen Sudell, editor of the IDS Pensions Service, said the rise in
contributions was "staggering" and the highest ever recorded by IDS.
"We have warned before that the widespread closure of final salary
schemes to new entrants is just the beginning of a much bigger
movement away from paternalistic provision," said Ms Sudell.  "With
figures like this there can be little doubt that many employers will
have to reduce future benefits at some point for those staff still in
these schemes."

## Predictions

In [12]:
summary = summarization(
                        article, 
                        #  max_length=100, 
                        #  min_length=30, 
                        #  do_sample=False
                        )

print(wrap(summary[0]["summary_text"]))

 Firms pump billions into pensions over the past year, research
suggests . Companies facing biggest deficits had raised their pension
contributions by 100% or more . Many firms struggling to keep final
salary schemes open because of rising costs and increased liabilities
. Rising cost of maintaining such schemes has led many employers to
replace them with money purchase schemes .